@use '../../shared/styles/mixins/mq.scss' as *;

.home {
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background-repeat: repeat-x;
    @include pc {
      height: 4rem;
      background-size: 4rem 4rem;
    }
    @include sp {
      height: 2.5rem;
      background-size: 2.5rem 2.5rem;
    }
  }
  &::before {
    top: 0;
    background-image: radial-gradient(
      circle at top,
      var(--c_1),
      var(--c_1) 10%,
      transparent 10%,
      transparent 20%,
      var(--c_1) 20%,
      var(--c_1) 30%,
      transparent 30%,
      transparent 40%,
      var(--c_1) 40%,
      var(--c_1) 50%,
      transparent 50%
    );
  }
  &::after {
    bottom: 0;
    background-image: radial-gradient(
      circle at bottom,
      var(--c_1),
      var(--c_1) 10%,
      transparent 10%,
      transparent 20%,
      var(--c_1) 20%,
      var(--c_1) 30%,
      transparent 30%,
      transparent 40%,
      var(--c_1) 40%,
      var(--c_1) 50%,
      transparent 50%
    );
  }
  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include pc {
      width: 83rem;
      height: 52rem;
      margin-top: 2rem;
    }
    @include sp {
      width: 30rem;
      height: 40rem;
      margin-top: 1rem;
    }
  }
  .year {
    display: flex;
    @include pc {
      column-gap: 0.6rem;
      margin-left: auto;
    }
    @include sp {
      justify-content: center;
      column-gap: 0.3rem;
    }
    .num {
      display: flex;
      @include pc {
        width: 9rem;
      }
      @include sp {
        width: 4.8rem;
      }
      &--2 {
        flex-direction: column;
        @include pc {
          height: 10.8rem;
        }
        @include sp {
          height: 5.7rem;
        }
        span {
          flex: 1;
          &:first-of-type {
            border-radius: 0 9999px 0 0;
          }
          &:nth-of-type(2) {
            border-radius: 9999px 0 9999px 0;
          }
        }
      }
      &--0 {
        @include pc {
          width: 10.8rem;
        }
        @include sp {
          width: 5.7rem;
        }
        > span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          > span {
            border-radius: 50%;
            @include pc {
              width: 4.5rem;
              height: 4.5rem;
            }
            @include sp {
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
      }
      &--4 {
        span {
          flex: 1;
          &:first-of-type {
            border-radius: 9999px 0 0 9999px;
            @include pc {
              height: 7.2rem;
            }
            @include sp {
              height: 3.8rem;
            }
          }
          &:nth-of-type(2) {
            @include pc {
              height: 3.6rem;
              margin-top: 3.6rem;
            }
            @include sp {
              height: 1.9rem;
              margin-top: 1.9rem;
            }
          }
        }
      }
    }
  }
  .dragon {
    position: absolute;
    @include pc {
      width: 67.5rem;
      height: 46.5rem;
      top: 4rem;
      left: 0;
    }
    @include sp {
      width: 100%;
      height: 23rem;
      top: 8.5rem;
      left: 0.2rem;
      transform: scale(0.93);
    }
    .face {
      z-index: 3;
      position: absolute;
      width: 27.5rem;
      height: 13rem;
      @include pc {
        left: 0;
        top: 8rem;
      }
      @include sp {
        transform: scale(0.475);
        transform-origin: left top;
        left: 0;
        top: 4.1rem;
      }
      .cheek {
        position: absolute;
        border-radius: 9999px 9999px 9999px 0;
        width: 7.2rem;
        height: 9.5rem;
        left: 13.3rem;
        top: 0.5rem;
        .fire {
          z-index: -1;
          position: absolute;
          display: flex;
          flex-direction: column;
          right: -7rem;
          top: 0.9rem;
          > span {
            display: flex;
            align-items: center;
            border-radius: 0 0 9999px 0;
            transform-origin: left top;
            width: 10rem;
            height: 3.7rem;
            &:first-of-type {
              transform: rotate(-20deg) translate(-1rem, 1.9rem);
            }
            &:nth-of-type(3) {
              transform: rotate(20deg) translate(-0.2rem, -2.3rem);
            }
            > span {
              border-radius: 0 0 9999px 0;
              width: 8.5rem;
              height: 2.1rem;
            }
          }
        }
        .mane {
          position: absolute;
          display: flex;
          flex-direction: column;
          transform-origin: left top;
          transform: rotate(-30deg);
          right: -1.9rem;
          top: 2.4rem;
          span {
            transform-origin: left top;
            border-radius: 0 0 9999px 0;
            width: 3.8rem;
            height: 2.1rem;
            &:nth-of-type(2) {
              transform: rotate(25deg);
              margin-top: -1.1rem;
            }
            &:nth-of-type(3) {
              transform: rotate(45deg);
              margin-top: -0.8rem;
              margin-left: -0.3rem;
            }
            &:nth-of-type(4) {
              transform: rotate(72deg);
              margin-top: -1.1rem;
              margin-left: -0.7rem;
            }
            &:nth-of-type(5) {
              transform: rotate(90deg);
              margin-top: -1.9rem;
              margin-left: -2.1rem;
            }
          }
        }
        .horn {
          position: absolute;
          top: 1rem;
          left: 2.2rem;
          > span {
            position: absolute;
            border-radius: 0 0 9999px 0;
            transform-origin: left top;
            width: 10rem;
            height: 1.5rem;
            > span {
              position: absolute;
              border-radius: 9999px 0 0 0;
              width: 1.5rem;
              height: 1.5rem;
              top: -1.4rem;
              right: 1.5rem;
            }
            &:first-of-type {
              transform: rotate(-65deg);
              top: 0;
              left: 0;
            }
            &:nth-of-type(2) {
              transform: rotate(-45deg);
              left: 2rem;
              top: -0.5rem;
            }
          }
        }
        .eyebrow {
          position: absolute;
          left: 0;
          top: 0.9rem;
          > span {
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: left bottom;
            border-radius: 9999px 0 9999px 0;
            height: 1.3rem;
            &:first-of-type {
              width: 7rem;
            }
            &:nth-of-type(2) {
              transform: rotate(-10deg);
              width: 6.3rem;
            }
            &:nth-of-type(3) {
              transform: rotate(-20deg);
              width: 5.6rem;
            }
            &:nth-of-type(4) {
              transform: rotate(-30deg);
              width: 4rem;
            }
          }
        }
        .eye {
          position: absolute;
          top: 1rem;
          left: -0.5rem;
          span {
            display: flex;
            border-radius: 50%;
          }
          > span {
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
            > span {
              width: 3rem;
              height: 3rem;
              > span {
                width: 1.4rem;
                height: 1.4rem;
                margin-top: 0.6rem;
                margin-left: 0.3rem;
                > span {
                  width: 0.4rem;
                  height: 0.4rem;
                  margin-top: 0.4rem;
                  margin-left: 0.3rem;
                }
              }
            }
          }
        }
        .lip {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 4.8rem;
          left: -0.1rem;
          > span {
            border-radius: 0 9999px 0 0;
            width: 0.6rem;
            height: 2.1rem;
          }
        }
      }
      .upper {
        position: absolute;
        width: 11rem;
        height: 3rem;
        left: 3rem;
        top: 2.6rem;
        .nose {
          position: absolute;
          display: flex;
          bottom: 0.3rem;
          left: -2.5rem;
          > span {
            border-radius: 50%;
            &:first-of-type {
              position: relative;
              display: flex;
              width: 4.9rem;
              height: 4.6rem;
              .hole {
                border-radius: 50%;
                width: 0.8rem;
                height: 0.8rem;
                margin-top: 1.2rem;
                margin-left: 1rem;
              }
              .lip {
                z-index: -1;
                position: absolute;
                bottom: -0.6rem;
                left: -0.6rem;
                > span {
                  position: relative;
                  &:first-of-type {
                    border-radius: 50%;
                    clip-path: inset(50% 0 0 0);
                    width: 6.1rem;
                    height: 5.8rem;
                  }
                  &:nth-of-type(2) {
                    position: absolute;
                    border-radius: 50%;
                    width: 1.2rem;
                    height: 1.2rem;
                    left: 0rem;
                    top: 2.4rem;
                  }
                }
              }
            }
            &:nth-of-type(2) {
              width: 3.1rem;
              height: 3.4rem;
              margin-left: -1rem;
              margin-top: 1rem;
            }
          }
        }
        .fang {
          display: flex;
          position: absolute;
          bottom: -1rem;
          left: 0.1rem;
          column-gap: 0.6rem;
          > span {
            border-radius: 0 0 0 9999px;
            width: 0.6rem;
            height: 0.8rem;
          }
        }
        .lip {
          position: absolute;
          bottom: -0.3rem;
          left: 0;
          > span {
            width: 10.3rem;
            height: 0.6rem;
          }
        }
      }
      .lower {
        position: absolute;
        transform-origin: right top;
        transform: rotate(-10deg);
        border-radius: 0 0 0 9999px;
        width: 12rem;
        height: 2.7rem;
        left: 2.2rem;
        top: 7.2rem;
        .mane {
          position: absolute;
          display: flex;
          transform-origin: left top;
          transform: rotate(5deg);
          top: 0;
          left: 0;
          span {
            border-radius: 0 0 0 9999px;
            transform-origin: left top;
            height: 3.8rem;
            &:first-of-type {
              width: 3.3rem;
            }
            &:not(:first-of-type) {
              width: 2.1rem;
              margin-left: -0.2rem;
            }
            &:nth-of-type(2) {
              transform: rotate(-1deg);
            }
            &:nth-of-type(3) {
              transform: rotate(-2deg);
            }
            &:nth-of-type(4) {
              transform: rotate(-4deg);
              margin-top: 0.1rem;
            }
            &:nth-of-type(5) {
              transform: rotate(-7deg);
              margin-top: 0.2rem;
            }
            &:nth-of-type(6) {
              transform: rotate(-12deg);
              margin-top: 0.3rem;
            }
            &:nth-of-type(7) {
              transform: rotate(-19deg);
              margin-top: 0.4rem;
            }
          }
        }
        .fang {
          display: flex;
          position: absolute;
          top: -0.9rem;
          left: 1.3rem;
          column-gap: 0.6rem;
          > span {
            border-radius: 9999px 0 0 0;
            width: 0.6rem;
            height: 0.8rem;
          }
        }
        .lip {
          position: absolute;
          display: flex;
          top: -0.2rem;
          left: -0.3rem;
          > span {
            &:first-of-type {
              border-radius: 9999px 0 9999px 9999px;
              width: 11.5rem;
              height: 0.6rem;
            }
            &:nth-of-type(2) {
              position: absolute;
              border-radius: 0 0 9999px 0;
              width: 0.6rem;
              height: 0.6rem;
              top: 0;
              right: -0.4rem;
            }
          }
        }
      }
    }
    .body {
      z-index: 2;
      position: absolute;
      @include pc {
        top: 18.3rem;
        left: 12.1rem;
      }
      @include sp {
        top: 9.3rem;
        left: 5rem;
      }
      .dou {
        z-index: 3;
        position: relative;
        display: flex;
        .column {
          position: relative;
          display: flex;
          flex-direction: column;
          @include pc {
            width: 7.7rem;
          }
          @include sp {
            width: 4rem;
          }
          &--1 {
            .block {
              &:first-of-type {
                transform: scaleY(1.3);
                transform-origin: center bottom;
              }
              &:last-of-type {
                border-radius: 0 0 0 9999px;
              }
            }
          }
          &--2,
          &--4 {
            .block {
              &:first-of-type {
                border-radius: 9999px 0 0 0;
              }
              &:last-of-type {
                border-radius: 0 0 9999px 0;
              }
            }
          }
          &--3,
          &--5 {
            .block {
              &:first-of-type {
                border-radius: 0 9999px 0 0;
              }
              &:last-of-type {
                border-radius: 0 0 0 9999px;
              }
            }
          }
          &--6 {
            @include pc {
              margin-top: 7.7rem;
            }
            .block {
              border-radius: 0 0 9999px 0;
            }
          }
          &--1 {
            .block {
              &:nth-of-type(2) {
                background-image: radial-gradient(var(--c_1) 35%, transparent 0);
                @include pc {
                  background-size: 1.4rem 1.4rem;
                  background-position: -0.3rem -0.1rem;
                }
                @include sp {
                  background-size: 1rem 1rem;
                  background-position: 0 -0.15rem;
                }
              }
            }
          }
          &--2 {
            .block {
              &:nth-of-type(3) {
                background-image: repeating-linear-gradient(var(--c_1) 0, var(--c_1) 15%, transparent 0, transparent 70%);
                @include pc {
                  background-size: 100% 1.4rem;
                  background-position: 0 -0.2rem;
                }
                @include sp {
                  background-size: 100% 1rem;
                  background-position: 0 -0.4rem;
                }
              }
            }
          }
          &--3 {
            .block {
              &:first-of-type {
                background-image: linear-gradient(45deg, var(--c_1) 25%, transparent 25%, transparent 75%, var(--c_1) 75%),
                  linear-gradient(-45deg, var(--c_1) 25%, transparent 25%, transparent 75%, var(--c_1) 75%);
                @include pc {
                  background-size: 1.2rem 1.2rem;
                  background-position: 0 0.5rem;
                }
                @include sp {
                  background-size: 0.8rem 0.8rem;
                  background-position: 0 0;
                }
              }
            }
          }
          &--4 {
            .block {
              &:nth-of-type(2) {
                background-image: linear-gradient(transparent 50%, var(--c_1) 0), radial-gradient(circle closest-side, var(--c_3) 50%, transparent 0),
                  radial-gradient(circle closest-side, var(--c_3) 50%, transparent 0);
                background-repeat: repeat-x;
                @include pc {
                  background-size: 2.4rem 2.4rem;
                  background-position:
                    0 0.2rem,
                    -0.6rem 0.2rem,
                    0.6rem 0.2rem;
                }
                @include sp {
                  background-size: 1.6rem 1.6rem;
                  background-position:
                    0 0,
                    -0.4rem 0,
                    0.4rem 0;
                }
              }
            }
          }
          &--6 {
            .block {
              background-image: radial-gradient(var(--c_1) 75%, transparent 0);
              @include pc {
                background-size: 1.5rem 1.5rem;
                background-position: 0.8rem 0.9rem;
              }
              @include sp {
                background-size: 1rem 1rem;
                background-position: 0.5rem 0.5rem;
              }
            }
          }
        }
        .curve {
          position: relative;
          @include pc {
            width: 2.3rem;
          }
          @include sp {
            width: 1.3rem;
          }
          &--1,
          &--3 {
            margin-top: auto;
          }
          &--1 {
            .block {
              background-image: repeating-linear-gradient(var(--c_1) 0, var(--c_1) 15%, transparent 0, transparent 70%);
              @include pc {
                background-size: 100% 1.4rem;
                background-position: 0 -0.2rem;
              }
              @include sp {
                background-size: 100% 1rem;
                background-position: 0 -0.4rem;
              }
            }
          }
        }
        .block {
          z-index: 3;
          position: relative;
          &--a {
            @include pc {
              height: 7.7rem;
            }
            @include sp {
              height: 4rem;
            }
          }
          &--b {
            @include pc {
              height: 5.4rem;
            }
            @include sp {
              height: 2.7rem;
            }
          }
          &--c {
            @include pc {
              height: 2.3rem;
            }
            @include sp {
              height: 1.3rem;
            }
          }
        }
        .scale {
          z-index: 2;
          position: absolute;
          display: flex;
          span {
            @include pc {
              width: 1.6rem;
              height: 2.5rem;
            }
            @include sp {
              width: 0.8rem;
              height: 1.3rem;
            }
          }
          &--1,
          &--3,
          &--5 {
            span {
              border-radius: 0 0 0 9999px;
            }
          }
          &--1,
          &--3 {
            @include pc {
              bottom: -2rem;
              left: calc(50% - 2.4rem);
            }
            @include sp {
              bottom: -1rem;
              left: calc(50% - 1.2rem);
            }
          }
          &--2,
          &--4,
          &--6 {
            span {
              border-radius: 9999px 0 0 0;
            }
          }
          &--2,
          &--4 {
            @include pc {
              top: -2rem;
              left: calc(50% - 2.4rem);
            }
            @include sp {
              top: -1rem;
              left: calc(50% - 1.2rem);
            }
          }
          &--5 {
            @include pc {
              bottom: 5.7rem;
              left: -2.4rem;
            }
          }
          &--6 {
            @include pc {
              right: 0;
              top: -2rem;
            }
            @include sp {
              top: -1rem;
              left: -1.2rem;
            }
          }
        }
      }
      .leg {
        position: absolute;
        transform-origin: right center;
        @include pc {
          width: 4.5rem;
          height: 2.4rem;
        }
        @include sp {
          width: 2.3rem;
          height: 1.4rem;
        }
        > span {
          position: absolute;
          &:first-of-type {
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
            width: 100%;
            height: 100%;
          }
          &:not(:first-of-type) {
            transform-origin: right center;
            @include pc {
              width: 2.8rem;
              height: 0.8rem;
              left: -2.3rem;
              top: 0.8rem;
            }
            @include sp {
              width: 1.5rem;
              height: 0.5rem;
              left: -1.3rem;
              top: 0.5rem;
            }
            > span {
              position: absolute;
              top: 0;
              @include pc {
                width: 0.8rem;
                height: 0.8rem;
                left: -0.8rem;
              }
              @include sp {
                width: 0.5rem;
                height: 0.5rem;
                left: -0.5rem;
              }
            }
            &:nth-of-type(2) {
              transform: rotate(45deg);
            }
            &:nth-of-type(3) {
              transform: rotate(15deg);
            }
            &:nth-of-type(4) {
              transform: rotate(-15deg);
            }
            &:nth-of-type(5) {
              transform: rotate(-45deg);
            }
          }
        }
        &--1 {
          z-index: 2;
          // transform: rotate(-10deg);
          transform: rotate(-7deg);
          animation: leg1 0.8s linear infinite paused;
          @include pc {
            left: -3rem;
            bottom: 4.9rem;
          }
          @include sp {
            left: -1.1rem;
            bottom: 2.3rem;
          }
          > span {
            > span {
              border-radius: 9999px 0 0 0;
            }
          }
        }
        &--2 {
          z-index: 4;
          // transform: rotate(-55deg);
          transform: rotate(-58deg);
          animation: leg2 0.8s linear infinite paused;
          @include pc {
            left: -1.6rem;
            bottom: 2.5rem;
          }
          @include sp {
            left: -0.5rem;
            bottom: 1.3rem;
          }
          > span {
            > span {
              border-radius: 0 0 0 9999px;
            }
          }
        }
        &--3 {
          z-index: 4;
          // transform: rotate(230deg);
          transform: rotate(233deg);
          animation: leg3 0.8s linear infinite paused;
          @include pc {
            left: 29.5rem;
            bottom: 2.4rem;
          }
          @include sp {
            left: 15.3rem;
            bottom: 1.1rem;
          }
          > span {
            > span {
              border-radius: 0 0 0 9999px;
            }
          }
        }
        &--4 {
          z-index: 2;
          // transform: rotate(190deg);
          transform: rotate(187deg);
          animation: leg4 0.8s linear infinite paused;
          @include pc {
            left: 30.3rem;
            bottom: 5rem;
          }
          @include sp {
            left: 16rem;
            bottom: 2.3rem;
          }
          > span {
            > span {
              border-radius: 0 0 0 9999px;
            }
          }
        }
      }
    }
  }
  .player {
    position: relative;
    display: flex;
    @include pc {
      margin-left: auto;
      margin-right: -5rem;
      column-gap: 2.4rem;
    }
    @include sp {
      justify-content: center;
      column-gap: 2.2rem;
    }
    button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 100%;
      @include pc {
        width: 6rem;
        height: 6rem;
      }
      @include sp {
        width: 5rem;
        height: 5rem;
      }
      &.back,
      &.skip {
        pointer-events: none;
        > span {
          position: relative;
          transform: rotate(120deg) skewY(30deg) scaleX(0.86666);
          border-top-left-radius: 0.2rem;
          margin-left: 0.4rem;
          @include pc {
            width: 0.9rem;
            height: 0.9rem;
          }
          @include sp {
            width: 0.8rem;
            height: 0.8rem;
          }
          &::before,
          &::after {
            content: '';
            position: absolute;
            display: block;
            background: var(--c_3);
            @include pc {
              width: 0.9rem;
              height: 0.9rem;
            }
            @include sp {
              width: 0.8rem;
              height: 0.8rem;
            }
          }
          &::before {
            transform: translateX(50%) skewX(-45deg);
            border-top-right-radius: 0.2rem;
          }
          &::after {
            transform: translateY(50%) skewY(-45deg);
            border-bottom-left-radius: 0.2rem;
          }
        }
      }
      &.back {
        transform: scale(-1, 1);
      }
      &.play {
        @include pc {
          column-gap: 0.6rem;
        }
        @include sp {
          column-gap: 0.5rem;
        }
        > span {
          position: relative;
          &:first-of-type {
            transform: rotate(120deg) skewY(30deg) scaleX(0.86666);
            border-top-left-radius: 0.2rem;
            @include pc {
              width: 1.2rem;
              height: 1.2rem;
              margin-left: 0.5rem;
            }
            @include sp {
              width: 1rem;
              height: 1rem;
              margin-left: 0.4rem;
            }
            &::before,
            &::after {
              content: '';
              position: absolute;
              display: block;
              background: var(--c_3);
              @include pc {
                width: 1.2rem;
                height: 1.2rem;
              }
              @include sp {
                width: 1rem;
                height: 1rem;
              }
            }
            &::before {
              transform: translateX(50%) skewX(-45deg);
              border-top-right-radius: 0.2rem;
            }
            &::after {
              transform: translateY(50%) skewY(-45deg);
              border-bottom-left-radius: 0.2rem;
            }
          }
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
    .loading {
      pointer-events: none;
      display: none;
      border: 0.5rem solid var(--c_1);
      border-top: 0.5rem solid transparent;
      border-radius: 50%;
      animation: loading 1s linear infinite paused;
      @include pc {
        width: 6rem;
        height: 6rem;
      }
      @include sp {
        width: 5rem;
        height: 5rem;
      }
    }
  }
  &.is-track1 {
    --c_1: #e96666;
    --c_2: #ffc8b3;
    --c_3: #ffe4da;
    --c_4: #ffeac1;
  }
  &.is-track2 {
    --c_1: #679150;
    --c_2: #c7d38a;
    --c_3: #f7efb2;
    --c_4: #eaeeb2;
    .dragon {
      .body {
        .leg {
          animation-duration: 0.6s;
        }
      }
    }
  }
  &.is-track3 {
    --c_1: #e8677a;
    --c_2: #fcbec3;
    --c_3: #e2eeee;
    --c_4: #f9e0d0;
    .dragon {
      .body {
        .leg {
          animation-duration: 1s;
        }
      }
    }
  }
  &.is-track4 {
    --c_1: #f5744c;
    --c_2: #fdbf93;
    --c_3: #fdebb5;
    --c_4: #e6ebcc;
    .dragon {
      .body {
        .leg {
          animation-duration: 0.6s;
        }
      }
    }
  }
  &.is-track5 {
    --c_1: #5d7db1;
    --c_2: #bad2e4;
    --c_3: #e4e7f7;
    --c_4: #ffe5e0;
    .dragon {
      .body {
        .leg {
          animation-duration: 0.75s;
        }
      }
    }
  }
  &.is-paused {
    .player {
      button {
        &.back,
        &.skip {
          pointer-events: auto;
        }
      }
    }
  }
  &.is-playing {
    .dragon {
      .body {
        .leg {
          animation-play-state: running;
        }
      }
    }
    .player {
      button {
        &.back,
        &.skip {
          pointer-events: auto;
        }
        &.play {
          > span {
            &:first-of-type {
              display: none;
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              display: block;
              border-radius: 0.2rem;
              @include pc {
                width: 0.6rem;
                height: 2.4rem;
              }
              @include sp {
                width: 0.5rem;
                height: 2rem;
              }
            }
          }
        }
      }
      .loading {
        display: none;
      }
    }
  }
  &.is-loading {
    .player {
      button {
        &.play {
          display: none;
        }
        &.back,
        &.skip {
          visibility: hidden;
        }
      }
      .loading {
        display: block;
        animation-play-state: running;
      }
    }
  }
}

@keyframes leg1 {
  0% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(-13deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
@keyframes leg2 {
  0% {
    transform: rotate(-58deg);
  }
  50% {
    transform: rotate(-52deg);
  }
  100% {
    transform: rotate(-58deg);
  }
}
@keyframes leg3 {
  0% {
    transform: rotate(233deg);
  }
  50% {
    transform: rotate(227deg);
  }
  100% {
    transform: rotate(233deg);
  }
}
@keyframes leg4 {
  0% {
    transform: rotate(187deg);
  }
  50% {
    transform: rotate(193deg);
  }
  100% {
    transform: rotate(187deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
