@use 'sass:math';
@use './mixins/mq.scss' as *;

:root {
  --c_bg: #fffaf3;
  --c_white: #fffdf7;
  --c_black: #3e3a35;
  --c_1: #797267;
  --c_2: #cdc7b9;
  --c_3: #efe8dc;
  --c_4: #e1d8ca;
}

html {
  @include pc {
    font-size: math.div(10, 1280) * 100vw;
  }
  @include sp {
    font-size: math.div(10, 375) * 100vw;
  }
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-size-adjust: 100%;
  background: var(--c_bg);
  font-size: 1rem;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  @include pc {
    min-height: 75rem;
  }
  @include sp {
    min-height: 55rem;
  }
}

span {
  display: block;
}

.b0{
  background: var(--c_bg);
}

.b1 {
  background: var(--c_1);
}

.b2 {
  background: var(--c_2);
}

.b3 {
  background: var(--c_3);
}

.b4 {
  background: var(--c_4);
}

.b5 {
  background: var(--c_white);
}

.b6 {
  background: var(--c_black);
}
